* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-size: 12px;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 1024px;
    min-width: 350px;
    max-width: 1017px;
    margin: auto;
}

.nav_wrapper {
    padding: 12px 0px;
}

.button_with_icon {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
}

main {
    min-height:100%;
}

footer {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    margin-top: auto;
}